.menu{
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.menu h1{
    color: white;
}
.menu span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 800;
    color: black;
    text-align: center;
    background-color: white;
    cursor: pointer;
}