.userCard{
    width: 26%;
    height: 250px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.userCard h3{
    color: white;
}
.userCard span{
    width: 20px;
    color: gray;
    border-radius: 50%;
    background-color: white;
    text-align: center;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.userCard button{
    width: 80px;
    height: 30px;
    background-color: white;
    color: gray;
    border-color: gray;
    border-radius: 5px;
    cursor: pointer;
}